<div class="row">
    <div class="col col-md-6" [ngClass]="{ 'offset-md-3' : !postSelected}">
        <h4>Latest News</h4>
        <ul class="timeline">
            <li *ngFor="let publication of publications">
                <a target="_blank" (click)="selectPost(publication)">
                    <h3>{{ publication.postTitle }}</h3>
                </a>
                <a href="#" class="float-left">by {{ publication.author }}</a>
                <a href="#" class="float-right">{{ publication.postDate | date:'fullDate':'-5' }}</a>
                <br />
                <p>
                    {{ 
                        (publication.postContent.length > 200)
                            ? (publication.postContent | slice:0:200) + '...'
                            :(publication.postContent)   
                    }}
                </p>
                <a href="#" class="float-left">
                    Comments <span class="badge badge-success">{{ publication.commentCount }}</span>
                </a>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary ali ml-2" (click)="selectPost(publication)">
                        View post
                        <svg class="bi bi-arrow-right-circle" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path fill-rule="evenodd"
                                d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
                            <path fill-rule="evenodd"
                                d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div class="col" *ngIf="postSelected">
        <app-posted-selected [postSelected]="postSelected"></app-posted-selected>
    </div>
</div>